<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.gossip.mapper.NewsMapper">

    <select id="queryAndIdGtAndPage" resultType="news" parameterType="int">

        select * from news where id > #{id} limit 0 ,100

    </select>


    <select id="queryAndIdMax" resultType="int" parameterType="int">

       SELECT MAX(id) FROM (SELECT  * FROM news WHERE id > #{id} LIMIT 0 ,100) newTab

    </select>


    <select id="queryAndIdToContent" resultType="string" parameterType="int">
        select content FROM  news WHERE  id = #{id}

    </select>

</mapper>